@import "parts/_code.scss";
@import "parts/_header.scss";
@import "parts/_image.scss";
@import "parts/misc.scss";
@import "parts/table.scss";
@import "parts/tags.scss";

:root {
  /* Used for: block comment, hr, ... */
  --border-color: var(--bg-0);

  /* Fonts */
  --text-font: 'Merriweather';
  --header-font: 'Noto Sans';
  --code-font: 'Inconsolata';
}

html {
  background-color: var(--bg-2);
  color: var(--text-0);
  font-family: var(--text-font);
  line-height: 1.6em;
}

body {
  margin: 12px;
  transition: margin 0.3s;
}

.content {
  background-color: var(--bg-1);
  border-width: 6px;
  border-style: none;
  border-radius: 12px;
  max-width: 1000px;
  margin: 0 auto;
  padding: 12px 24px 24px 24px;
  word-wrap: break-word;
}

@media all and (max-width:720px) {
  html {
    font-size: 13px;
  }

  body {
    margin: 12px 0px;
  }
}

@media all and (min-width:720px) {
  html {
    font-size: 13.5px;
  }
}

@media all and (min-width:960px) {
  html {
    font-size: 14px;
  }
}